<div class="parentContainer">
  <div class="quote--container">
    <div class="card flex justify-center">
     
  </div>
    <p class="quote">
      {{displayQuote.quote}}.
    </p>
    <p class="quote--author">&ndash; {{displayQuote.author}}</p>
  </div>
  
  <div style="margin-left: 30vw;
    margin-right: 30vw">
  
    <div class="platform-scroll">
      <a *ngFor="let site of platforms" [href]="site.url" target="_blank" class="platform-item">
        <img [src]="site.icon" [alt]="site.name" />
        <span>{{ site.name }}</span>
      </a>
    </div>
  </div>
  
  <div class="card flex justify-content-center">
    <p-button (onClick)="op.toggle($event)" icon="pi pi-share-alt" label="Preference" />
    <p-overlayPanel #op>
        <div class="flex flex-column gap-3 w-25rem">
            <div>
                <span class="font-medium text-900 block mb-2">Font Color</span>
                <p-inputGroup>
                    <input pInputText value="https://primeng.org/12323ff26t2g243g423g234gg52hy25XADXAG3" readonly class="w-25rem" />
                </p-inputGroup>
            </div>
            <div>
                <span class="font-medium text-900 block mb-2">Background Image</span>
                <div class="flex">
                    
                </div>
            </div>
        </div>
    </p-overlayPanel>
</div>
</div>
