<div class="parentContainer" [ngStyle]="{
  'background-image': 'url(' + currentBg.imageUrl + ')'
}">

  <div class="quote--container">
    <div class="card flex justify-center">
    
  </div>
    <p class="quote">
      {{displayQuote.quote}}.
    </p>
    <p class="quote--author">&ndash; {{displayQuote.author}}</p>
  </div>
  
  <div style="margin-left: 30vw;
    margin-right: 30vw">
  
    <div class="platform-scroll">
      <a *ngFor="let site of platforms" [href]="site.url" target="_blank" class="platform-item">
        <img [src]="site.icon" [alt]="site.name" />
        <span>{{ site.name }}</span>
      </a>
    </div>
  </div>

  <button (click)="changeWalpaper()" title="Change Walpaper">
    <img src="../assets/reset-svgrepo-com.svg" alt="Changw Walpaper" width="30" height="30" >
   </button>
  

</div>
